# --- APP SECRETS
NUXT_SESSION_PASSWORD='node -e "console.info(require('crypto').randomBytes(32).toString('hex'))"' -- needed for session validation
CRYPTO_SECRET='node -e "console.info(require('crypto').randomBytes(32).toString('hex'))"' -- used for encryption, except password
DATABASE_CONNECTION_STRING=postgresql://postgres:postgres@localhost:5432/postgres -- user database
TEMPORARY_STORAGE_CONNECTION_URL=https://subdomain.domain.tld # (example: https://project.upstash.io) just the host url (connection string ala TEMPORARY_STORAGE_CONNECTION_STRING=redis://localhost:6379/0 (redis://default:password@name.upstash.io:6379) doesn't seem to work with unstorage ioredis)
TEMPORARY_STORAGE_CONNECTION_TOKEN=xxx # password of the redis database
# --- THIRD PARTY SERVICES
HUGGING_FACE_API_KEY=hf_xxx
POSTHOG_API_KEY=<your_key>
POSTHOG_API_HOST=https://<location>.i.posthog.com
POSTHOG_ACTIVE=false -- analytics, testing, monitoring etc.
RESEND_API_KEY=re_xxx_xxxxxx
# --- OAUTH
NUXT_OAUTH_GITHUB_CLIENT_ID=xxx
NUXT_OAUTH_GITHUB_CLIENT_SECRET=xxx
NUXT_OAUTH_GOOGLE_CLIENT_ID=xxx
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=xxx
# --- DEBUG
LOG_SQL_QUERIES=false
LOG_BACKEND=false
LOG_FRONTEND='needs to be set in useLogger.ts, because utils and composables can not access the nuxt instance'
# --- GITHUB APP
NEPTUN_GITHUB_APP_WEBHOOK_SECRET="xxx"
NEPTUN_GITHUB_APP_ID=xxx
NEPTUN_GITHUB_APP_GITHUB_CLIENT_ID=xxx
NEPTUN_GITHUB_APP_GITHUB_CLIENT_SECRET=xxx
NEPTUN_GITHUB_APP_PRIVATE_KEY="xxx"
