@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.remark-code-title {
  @apply bg-primary/20;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  border-radius: 0.25rem;
}

/* prevents overflowing while allowing a fluid layout */
pre {
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

pre.shiki {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  /* overflow-x: auto; */
}

/* WITHOUT THIS, THE CUSTOM CURSOR WON'T WORK. DO NOT TOUCH ME!!! */
body {
  @apply bg-background;
}

/* Somehow also needs to be global, which is weird to me */
.cursor {
  z-index: 999999999;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 0;
  transform-origin: center center;
  mix-blend-mode: difference;
  filter: url('#cursor-mask');
}

.cursor span {
  z-index: 999999999;
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background-color: #fff;
  transform-origin: center center;
  transform: translate(-50%, -50%);
}

input,
textarea,
select {
  font-size: 16px !important; /* Ensure the font size is 16px or larger */
}

input {
  -webkit-text-size-adjust: 100% !important; /* Forcing text size adjust for Safari */
}

/* For WebKit browsers (Chrome, Safari, Edge) */
textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  @apply bg-foreground;
  border-radius: 100px;
}

textarea::-webkit-scrollbar-track {
  background-color: transparent;
}

/* For Firefox */
textarea {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--foreground)) transparent;
}
